

body {
    width: 50%;
    margin: 0 auto;
    padding: 4rem 0;
}

button {
    padding: 4px 6px;
    background-color: lightgreen;
    border: 1px solid darkgreen;
    font-size: 1.25rem;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
}

.input-wrapper {
    display: flex;
    margin-bottom: 2rem;
    gap: 10px;
}

#greeting {
    text-align: center;
    font-size: 2rem;
    padding: 2rem 0;
}

section {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
}

header {
    background: purple;
    height: 100px;
  }

  h1 {
    text-align: center;
    color: white;
    line-height: 100px;
    margin: 0;
  }

  article {
    background: aqua;
    padding: 1rem;
  }

  .fade-in {
    animation: fadeInAnimation 1s ease-in-out;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
